@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;800;900&display=swap');
$font: 'League Spartan', sans-serif;
$magenta:hsl(300, 43%, 22%);
$pink:hsl(333, 80%, 67%);
$white:hsl(0, 0%, 100%);
$darkMagenta:hsl(303, 10%, 53%);
$lightMagenta:hsl(300, 17%, 93%);